<div class="col-3 p-4 text-center">
	<a
		style="background-color: <%= element.color %>"
		class="btn btn-block btn-lg tag tag--<%=element.name.toLowerCase()%>"
		href="/tag/<%=element.id%>"
	>
		<%=element.name%>
	</a>
</div>
